.moviescard {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgba(34, 34, 34, 1);
}

.moviescard__photo {
    margin: 0;
    padding: 0;
    height: 151px;
    width: 270px;
}

@media screen and (max-width: 1024px) {
    .moviescard__photo  {
        height: 190px;
        width: 339px;
    }
}

@media screen and (max-width: 766px) {
    .moviescard__photo  {
        height: 168px;
        width: 290px;
    }
}

.moviescard__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.moviescard__title-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 0 0 12px;
}

.moviescard__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    margin: 14px 0 0 0;
}

.moviescard__duration {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: rgba(139, 139, 139, 1);
    margin: 10px 0 14px 0;
}

.moviescard__button {
    margin: 14px 12px 0 0;
    height: 16px;
    width: 16px;
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

.moviescard__button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.moviescard__add {
    height: 16px;
    width: 16px;
    background-color: rgba(139, 139, 139, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    cursor: pointer;
}

.moviescard__add_active {
    background-color: rgba(43, 224, 128, 1);
}

.moviescard__delete {
    height: 16px;
    width: 16px;
    background-image: url(../../images/delete_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(34, 34, 34, 1);
    border: none;
    align-self: center;
    cursor: pointer;
}