.profile {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 410px;
}

@media screen and (max-width: 468px) {
    .profile__container {
        width: 260px;
    }
}

.profile__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    margin: 70px 0 40px 0;
    padding: 0;
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .profile__title {
        margin: 200px 0 40px 0;
    }
}

.profile-form__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 310px;
    width: 410px;
    margin: 66px 0 0 0;
}

@media screen and (max-width: 468px) {
    .profile-form__form {
        height: 474px;
        width: 260px;
        margin: 26px 0 0 0;
    }
}

.profile-form__inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-form__input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
}

@media screen and (max-width: 468px) {
    .profile-form__input-container {
        width: 260px;
    }
}

.profile-form__input-container:last-of-type {
    border-top: 1px solid rgba(66, 66, 66, 1);
}

.profile-form__field-name {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 0 0;
    padding: 0;
    align-self: center;
}

.profile-form__input {
    background-color: rgba(32, 32, 32, 1);
    height: 46px;
    width: 360px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 0 0;
    padding: 0;
    align-self: flex-start;
    text-align: end;
    border: none;
}

@media screen and (max-width: 468px) {
    .profile-form__input {
        width: 210px;
    }
}

.profile-form__input-error {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: rgba(238, 52, 101, 1);
    margin: 0;
    height: 10px;
    align-self: flex-end;
}

.profile-form__input_type_name {}

.profile-form__input_type_email {}

.profile-form__submit-button {
    height: 16px;
    align-self: center;
    background-color: rgba(32, 32, 32, 1);
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    border: none;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 468px) {
    .profile-form__submit-button {
        font-size: 12px;
    }
}

.profile-form__submit-button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.profile-form__submit-button_disabled {
    color: rgba(47, 47, 47, 1);
}

.profile-form__confirm-note {
    color: rgba(15, 150, 15, 1);
    align-self: center;
}

.profile__exit {
    background-color: rgba(32, 32, 32, 1);
    border: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(238, 52, 101, 1);
    margin: 16px 0 0 0;
    padding: 0;
    align-self: center;
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 468px) {
    .profile__exit {
        font-size: 12px;
    }
}

.profile__exit:hover {
    opacity: 0.6;
    transition: 0.5s;
}