.portfolio {
    margin: 0;
    padding: 0;
}

.portfolio__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .portfolio__container {
        margin: 0 0 58px 0;
    }
}

.portfolio__title-container {
    width: 1140px;
    margin: 110px 0 28px 0;
    padding: 0;
}

@media screen and (max-width: 1278px) {
    .portfolio__title-container {
        width: 668px;
    }
}

@media screen and (max-width: 1024px) {
    .portfolio__title-container {
        margin: 60px 0 28px 0;
    }
}

@media screen and (max-width: 766px) {
    .portfolio__title-container {
        margin: 54px 0 26px 0;
        width: 284px;
    }
}

.portfolio__title {
    margin: 0;
    padding: 0;
    align-self: flex-start;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(160, 160, 160, 1);
}

@media screen and (max-width: 766px) {
    .portfolio__title {
        font-size: 14px;
    }
}

.portfolio__items-container {
    margin: 0;
    padding: 0;
}

.portfolio__item-container {
    list-style: none;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.portfolio__item-link {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
    align-items: flex-start;
    text-decoration: none;
    opacity: 1;
    transition: 0.5s;
}

.portfolio__item-link:hover {
    opacity: 0.6;
    transition: 0.5s;
}

@media screen and (max-width: 1278px) {
    .portfolio__item-link {
        width: 668px;
    }
}

@media screen and (max-width: 766px) {
    .portfolio__item-link {
        width: 292px;
    }
}

.portfolio__item-container:last-of-type {
    border-bottom: none;
}

.portfolio__item {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 90px;
    color: rgba(255, 255, 255, 1);
    transform: scaleX(0.92);
    align-self: flex-start;
}

@media screen and (max-width: 766px) {
    .portfolio__item {
        font-size: 18px;
        line-height: 68px;
    }
}

.portfolio__arrow {
    height: 32px;
    width: 32px;
    background-image: url(../../images/arrow_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}

@media screen and (max-width: 766px) {
    .portfolio__arrow {
        height: 28px;
        width: 18px;
    }
}