.promo {
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(7, 48, 66, 1);
}

.promo__landing-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo__landing {
    height: 320px;
    width: 720px;
    margin: 82px 0 122px 0;
    display: flex;
    justify-content: center;
    background-image: url(../../images/landing_picture.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1024px) {
    .promo__landing {
        margin: 216px 0 216px 0;
    }
}

@media screen and (max-width: 766px) {
    .promo__landing {
        height: 248px;
        width: 300px;
        background-size: contain;
        margin: 132px 0 174px 0;
    }
}

@media screen and (max-width: 468px) {
    .promo__landing {
        margin: 138px 0 150px 0;
    }
}

.promo__landing-text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    transform: scaleX(0.92);
    color: rgba(255, 255, 255, 1);
    padding: 0;
    align-self: center;
    text-align: center;
}

@media screen and (max-width: 766px) {
    .promo__landing-text {
        font-size: 31px;
        line-height: 39px;
    }
}