.login {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 396px;
}

@media screen and (max-width: 468px) {
    .login-header__container {
        width: 260px;
    }
}

.login__logo {
    height: 38px;
    width: 38px;
    margin: 70px 0 0 0;
    align-self: flex-start;
    opacity: 1;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .login__logo {
        margin: 232px 0 0 0;
    }
}

@media screen and (max-width: 468px) {
    .login__logo {
        margin: 56px 0 0 0;
        align-self: center;
    }
}

.login__logo:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.login__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    margin: 40px 0 40px 0;
    padding: 0;
    align-self: flex-start;
}

@media screen and (max-width: 468px) {
    .login__title {
        margin: 50px 0 80px 0;
        align-self: center;
    }
}

.login-form__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 466px;
    width: 396px;
}

@media screen and (max-width: 468px) {
    .login-form__form {
        width: 260px;
    }
}

.login-form__inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-form__field-name {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: rgba(139, 139, 139, 1);
    margin: 0;
    padding: 0;
    align-self: flex-start;
}

@media screen and (max-width: 468px) {
    .login-form__field-name {
        font-size: 10px;
    }
}

.login-form__input {
    background-color: rgba(47, 47, 47, 1);
    height: 46px;
    width: 382px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    margin: 10px 0 8px 0;
    padding: 0 0 0 14px;
    align-self: flex-start;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 468px) {
    .login-form__input {
        width: 246px;
    }
}

.login-form__input_type_name {}

.login-form__input_type_email {}

.login-form__input_type_password {}

.login-form__input-error {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: rgba(238, 52, 101, 1);
    margin: 0;
}

.name-input-error {}

.email-input-error {}

.password-input-error {}

.login-form__submit-button {
    height: 45px;
    width: 396px;
    background-color: rgba(66, 133, 244, 1);
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 2px;
    margin: 0;
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
}

@media screen and (max-width: 468px) {
    .login-form__submit-button {
        width: 260px;
        font-size: 12px;
    }
}

.login-form__submit-button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.login-form__note-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 18px;
}

@media screen and (max-width: 468px) {
    .login-form__note-container {
        margin: 14px 0 18px 0;
    }
}

.login-form__note {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: rgba(139, 139, 139, 1);
    margin: 0;
}

@media screen and (max-width: 468px) {
    .register-form__note {
        font-size: 12px;
    }
}

.login-form__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(66, 133, 244, 1);
    margin: 0 0 0 6px;
    text-decoration: none;
    opacity: 1;
    transition: 0.5s;
}

@media screen and (max-width: 468px) {
    .login-form__link {
        font-size: 12px;
    }
}

.login-form__link:hover {
    opacity: 0.6;
    transition: 0.5s;
}